{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Henrique's Blog</title>
  </head>
  <body>
    <header class="blog-header">
      <h1>Henrique's Blog</h1>
    </header>

    <section class="blog-posts">
      {% for post in posts reversed %}
      <article class="blog-post">
        <h2 class="post-title">{{post.title}}</h2>
        <p class="post-date">{{post.created_at}}</p>
        <div class="post-text">{{post.body|truncatewords:20}}</div>
      </article>
      {% endfor %}
    </section>
  </body>
</html>
